# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Dépendances
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*

# Fichiers de build
dist/
build/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environnement
.env
.env.local
.env.*.local

